html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,font,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td
{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	vertical-align:baseline;
	background:transparent;
}
@font-face {
  font-family: DauphinPlain;
  src: url(http://www.world-fonts.com/font/download/dauphinplain-dauphin.ttf);
}
body {
	padding: 0;
	margin: 0;
}
p {
	margin-bottom: 10px;	
}
h1 {
}
h2 {
	font-family: DauphinPlain, serif;
	line-height: 150%;
}
h3 {
}
h4 {
}
h5 {
}
h6 {
}

#content-wrapper {
	margin: 0 15%;	
	box-shadow: 0px 0px 15px 3px rgba(46,46,46,1);
}
header {
	text-align: center;
	background-color: #C1C1C1;
	min-height: 120px;
	vertical-align: top;
}
#main-content-wrapper {
	background-color: #009BFF;
	min-height: 500px;
}
#footer-wrapper {
	background-color: #E7FF60;
	min-height: 120px;
	vertical-align: bottom;
}
#main-content {
	padding: 2% 3%;	
}
.text-center {
	text-align: center;	
}